<div class="container">
  <p>VOCT</p>
  <canvas id="ctxRoom8AVoct" width="500px" height="100px" data-labels="<%= @data_keys_room_8a %>" data-data="<%= @data_voct_room_8a %>" ></canvas>
  <canvas id="ctxRoom8FVoct" width="500px" height="100px" data-labels="<%= @data_keys_room_8f %>" data-data="<%= @data_voct_room_8f %>" ></canvas>
  <canvas id="ctxRoomB2Voct" width="500px" height="100px" data-labels="<%= @data_keys_room_b2 %>" data-data="<%= @data_voct_room_b2 %>" ></canvas>
</div>
