<div class="container">
  <p>HUM</p>
  <canvas id="ctxRoom8AHum" width="500px" height="100px" data-labels="<%= @data_keys_room_8a %>" data-data="<%= @data_hum_room_8a %>" ></canvas>
  <canvas id="ctxRoom8FHum" width="500px" height="100px" data-labels="<%= @data_keys_room_8f %>" data-data="<%= @data_hum_room_8f %>" ></canvas>
  <canvas id="ctxRoomB2Hum" width="500px" height="100px" data-labels="<%= @data_keys_room_b2 %>" data-data="<%= @data_hum_room_b2 %>" ></canvas>
</div>
