<div class="container">
  <p>TMP</p>
  <canvas id="ctxRoom8ATmp" width="500px" height="100px" data-labels="<%= @data_keys_room_8a %>" data-data="<%= @data_tmp_room_8a %>" ></canvas>
  <canvas id="ctxRoom8FTmp" width="500px" height="100px" data-labels="<%= @data_keys_room_8f %>" data-data="<%= @data_tmp_room_8f %>" ></canvas>
  <canvas id="ctxRoomB2Tmp" width="500px" height="100px" data-labels="<%= @data_keys_room_b2 %>" data-data="<%= @data_tmp_room_b2 %>" ></canvas>
</div>
