<div class="container">
  <p>CO2</p>
  <canvas id="ctxRoom8ACo2" width="500px" height="100px" data-labels="<%= @data_keys_room_8a %>" data-data="<%= @data_co2_room_8a %>" ></canvas>
  <canvas id="ctxRoom8FCo2" width="500px" height="100px" data-labels="<%= @data_keys_room_8f %>" data-data="<%= @data_co2_room_8f %>" ></canvas>
  <canvas id="ctxRoomB2Co2" width="500px" height="100px" data-labels="<%= @data_keys_room_b2 %>" data-data="<%= @data_co2_room_b2 %>" ></canvas>
</div>
